/* define colors, fonts, etc */
:root {
    margin: 0;
    padding: 0;
    --primary-color-1: #FFFFFF;
    --primary-color-2: #000000;
    --accent-color-1: #F8F8F8;
    --primary-font: Inter, sans-serif;
    --secondary-font: "Cormorant Garamond", serif; /* change */
    --line-height: 1.5;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: var(--primary-font);
    font-size: 16px;
    overflow-x: hidden;
    background-color: var(--accent-color-1);
}

main {
    text-transform: uppercase;
    padding: 8rem 0;
}

h1 {
    font-size: 2rem;
    text-align: center;
    padding-top: 2rem;
}

h2, .h2 {
    font-size: 0.9rem;
    text-align: center;
    padding-top: 2rem;
    font-weight: 500;
}

p {
    font-family: var(--secondary-font);
    font-size: 1rem;
    text-transform: lowercase;
}

header {
    position: sticky;
    top: 0;
    z-index: 1000;
    color: var(--primary-color-2);
}

.row { /* nav spacing */
    padding: 0.5rem;
}

.nav-link {
    text-transform: uppercase;
    color: var(--primary-color-3);
    width: 8rem; /* adjust for mobile */
}

.nav-logo {
    max-height: 30px; 
}

.container {
    display: flex;
    justify-content: center;
}

a {
    text-decoration: none;
    color: var(--primary-color-2);
}

a:hover {
    color: var(--accent-color-1);
    text-decoration: none;
}

.btn-primary {
    font-size: 0.8rem;
    text-transform: uppercase;
    color: var(--primary-color-2);
    background-color: transparent;
    border-color: var(--primary-color-2);
    border-radius: 20px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 1px;
    padding-bottom: 1px;
}

.btn-primary:hover {
    border-color: var(--primary-color-2);
    background-color: var(--primary-color-2); 
}

/* svg sizing */

.logo {
    width: 10rem; 
    height: auto; 
}

.star {
    width: 2rem; 
    height: auto; 
}

/* media screens */

@media (min-width: 1200px), (min-width: 992px), (min-width: 768px) {
    .container {
        max-width: 500px !important;
    }
}
