/* define colors, fonts, etc */
:root {
    margin: 0;
    padding: 0;
    --primary-color-1: #FFFFFF;
    --primary-color-2: #000000;
    --accent-color-1: #F8F8F8;
    --primary-font: Inter, sans-serif;
    --secondary-font: "Cormorant Garamond", serif; /* change */
    --line-height: 1.5;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: var(--primary-font);
    font-size: 16px;
    overflow-x: hidden;
    overflow-y: hidden;
    background-color: var(--primary-color-2);
    background: url('/images/koi.png'); /* background image */
}

main {
    text-transform: uppercase;
    padding: 8rem 0;
}

h1 {
    font-size: 2rem;
    text-align: center;
    padding-top: 2rem;
}

h2, .h2 {
    font-size: 0.9rem;
    text-align: center;
    padding-top: 2rem;
    font-weight: 500;
}

header {
    position: sticky;
    top: 0;
    z-index: 1000;
    color: var(--accent-color-1);
}

.row { /* nav spacing */
    padding: 0.5rem;
}

.nav-link {
    text-transform: uppercase;
    color: var(--primary-color-3);
    width: 8rem; /* adjust for mobile */
}

.nav-logo {
    max-height: 30px; 
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(255, 253, 248, 0.80);
    backdrop-filter: blur(4px);
    border-radius: 15px;
    font-size: 0.8rem;
    padding: 2rem;
    /* remove bootstrap styles */
    border: none;
}

.container::after {
    content: '';
    position: absolute;
    top: 1rem;
    left: 1rem;
    right: 1rem;
    bottom: 1rem;
    border: 1px dashed #000000; 
    border-radius: 8px;
    pointer-events: none; /* ensure border doesn't interfere with content interactions */
}

.banner {
    display: flex; 
    justify-content: space-between; /* svg img spacing */
    padding-bottom: 1.5rem;
    /* remove bootstrap styles */
    border: none;
    background-color: transparent; 
}

.details {
    /* remove bootstrap styles */
    border: none;
    background-color: transparent; 
}

.list-group {
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
    padding-top: 1rem;
    padding-bottom: 3rem;
    /* remove bootstrap styles */
    border: none;
}

ul {
    padding: 0; /* remove nested list indent */
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

li {
    list-style-type: none; 
}

hr {
    border-top: 1px solid rgb(0 0 0 / 40%);
    height: 0.3rem;
}

.nested-list-item {
    padding-top: 0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.nested-list-desc {
    font-family: var(--secondary-font);
    font-size: 0.9rem;
    text-transform: lowercase;
}

a:hover {
    color: #888888;
}

.btn-primary {
    font-size: 0.8rem;
    text-transform: uppercase;
    background-color: transparent;
    border-color: var(--primary-color-2);
    color: var(--primary-color-2);
    border-radius: 20px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 1px;
    padding-bottom: 1px;
}

.btn-primary:hover {
    font-size: 0.8rem;
    border-color: var(--primary-color-2);
    background-color: var(--primary-color-2);
    color: var(--accent-color-1);
    border-radius: 20px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 1px;
    padding-bottom: 1px;
}

/* svg sizing */

.logo {
    width: 10rem; 
    height: auto; 
}

.star {
    width: 2rem; 
    height: auto; 
}

/* media screens */

@media (min-width: 1200px), (min-width: 992px), (min-width: 768px) {
    .container {
        max-width: 500px !important;
    }
}
