/* define colors, fonts, etc */
:root {
    margin: 0;
    padding: 0;
    --primary-color-1: #FFFFFF;
    --primary-color-2: #000000;
    --accent-color-1: #F8F8F8;
    --primary-font: Inter, sans-serif;
    --secondary-font: "Cormorant Garamond", serif; /* change */
    --line-height: 1.5;
}

* {
    box-sizing: border-box;
}
