/* define colors, fonts, etc */
:root {
    margin: 0;
    padding: 0;
    --primary-color-1: #FFFFFF;
    --primary-color-2: #000AEE;
    --primary-color-3: #000000;
    --accent-color-1: #FFA9DD;
    --accent-color-2: #E8E8E8;
    --header-font: playfair-display, serif;
    --body-font: Inter, sans-serif;
    --line-height: 1.5;
}

* {
    box-sizing: border-box;
    margin: auto;
}

body {
    background-color: var(--primary-color-3);
    color: var(--primary-color-1);
    font-family: var(--body-font);
}

header {
    position: relative;
    z-index: 1; /* float above content */
}

#menu {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    padding: 0.2rem;
    padding-left: 1rem;
    padding-right: 1rem;
    backdrop-filter: blur(10px); /* blur menu background */
}

ul {
    list-style-type: none;
}

li {
    margin: 0;
}

/* nav overlay styles */
.overlay {
    width: 100%;
    height: 0;
    position: fixed;
    z-index: 1;
    top: 0; 
    left: 0;
    background-color: var(--primary-color-2);
    overflow-x: hidden;
    transition: 0.5s;
}

/* menu list styles */
.overlay-content {
    font-family: var(--header-font);
    position: relative;
    top: 15%;
    width: 100%;
    text-align: left;
    text-transform: uppercase;
    margin-top: 1rem;
}

.overlay a {
    padding: 0.5rem;
    padding-left: 2rem;
    text-decoration: none;
    font-size: 3rem;
    color: var(--primary-color-1);
    display: block;
    transition: 0.3s;
}

.overlay a:hover {
    color: var(--accent-color-1);
}

/* close button styles */
.overlay .closebtn {
    position: absolute;
    padding: 0;
    right: 1rem;
    font-size: 3rem;
    font-weight: 200;
} 

/* divider line for menu items */
hr {
    border-style: solid;
    border-width: 1.2px;
    color: #FFFFFF;
}

h1 {
    font-family: var(--header-font);
    font-size: 3.5rem;
    text-transform: uppercase;
    text-align: center;
    font-weight: 400;
    padding-top: 4rem;
    padding-bottom: 1rem;
}

h2 {
    font-size: 2rem;
    color: var(--accent-color-2);
    text-transform: uppercase;
    text-decoration: underline;
    font-weight: 400;
    text-align: center;
    margin: 2rem;
}

h3 {
    font-family: var(--body-font);
    font-size: 0.875rem;
    text-transform: uppercase;
    font-weight: 400;
    padding: 1rem;
    padding-bottom: 0.2rem;
}

p {
    font-size: 0.875rem;
    font-weight: 400;
    padding: 1rem;
    padding-top: 1px;
    padding-bottom: 0.5rem;
    line-height: 1.2rem;
}

/* contact links */
#links {
    display: flex;
    justify-content: space-between;
    font-family: var(--body-font);
    font-size: 1rem;
    font-weight: 700;
    text-transform: uppercase;
    width: 100%;
    padding: 0;
    padding-top: 30px;
}

/* contact links spacing */
.link-layout {
    display: inline;
    margin-left: 2rem;
    margin-right: 2rem;
}

/* contact pg center content */
main {
    padding-top: 6rem;
}

/* about pg spacing */
#about {
    font-family: var(--header-font);
    position: relative;
    padding: 1.5rem;
    padding-top: 3rem;
}

a {
    text-decoration: none; /* remove link decoration */
    color: var(--accent-color-1)
}

a:hover {
    color: var(--accent-color-1)
}

img {
    width: 3rem;
    filter: invert(10%) sepia(99%) saturate(7428%) hue-rotate(244deg) brightness(75%) contrast(134%); /* svg filter blue */
}