/* define colors, fonts, etc */
:root {
    margin: 0;
    padding: 0;
    --primary-color-1: #FFFFFF;
    --primary-color-2: #000AEE;
    --primary-color-3: #000000;
    --accent-color-1: #FFA9DD;
    --accent-color-2: #E8E8E8;
    --primary-font: Inter, sans-serif;
    --secondary-font: playfair-display, serif;
    --line-height: 1.5;
}


* {
    box-sizing: border-box;
    margin: auto;
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: var(--primary-font);
}

h1 {
    font-family: var(--secondary-font);
    font-size: 6rem !important;
    text-align: center;
    text-transform: uppercase;
    padding: 1rem;
}

h2 {
    font-family: var(--secondary-font);
    font-size: 4rem !important;
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 2rem;
}

h3 {
    font-family: var(--secondary-font);
    font-weight: 400;
    font-size: 1.3rem;
    text-align: left; 
    padding-bottom: 1rem;
}

p {
    font-family: var(--prinary-font);
    font-size: 0.8rem;
    text-align: left;
    text-transform: uppercase;
}

main {
    display: flex !important;
    flex-direction: column;
    height: 45rem;
}

header {
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: #fff;
}

.nav {
    width: 50%;
}

.nav-link {
    font-family: var(--secondary-font);
    text-transform: uppercase;
    color: var(--primary-color-3)
}

.banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 35rem;
}

#text {
    width: 50%;
}

/* list styles for button links */
#btn { 
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2rem;
    padding: 0;
}

@media screen and (min-width: 768px) {

}

@media screen and (min-width: 1024px) {

}
