/* define colors, fonts, etc */
:root {
    margin: 0;
    padding: 0;
    --primary-color-1: #422D2D;
    --primary-color-2: #F8F8F8;
    --box-gradient: linear-gradient(to bottom, rgba(217, 217, 217, 0.10), rgba(118, 118, 118, 0.5) 95%);
    --bg-gradient: linear-gradient(to bottom, rgba(225, 225, 225, 0.20) 2%, rgb(248, 248, 248) 98%);
    --webkit-box-gradient: -webkit-linear-gradient(to bottom, rgba(217, 217, 217, 0.10), rgba(118, 118, 118, 0.5) 95%);
    --webkit-bg-gradient: -webkit-linear-gradient(to bottom, rgba(225, 225, 225, 0) 5%, rgba(248, 248, 248) 95%);
    --primary-font: 'Inter', sans-serif;
    --secondary-font: 'Times Now', serif;
    --accent-font: 'Old London', serif;
}

/* fonts */
@font-face {
    font-family: 'Inter';
    src: url('./fonts/Inter/Inter-VariableFont.ttf') format('truetype');
}

@font-face {
    font-family: 'Old London';
    src: url('./fonts/old_london/OldLondon.ttf') format('truetype');
}

@font-face {
    font-family: 'Times Now';
    src: url('./fonts/times-now/TimesNow-SemiLight.ttf') format('truetype');
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: var(--primary-font);
    font-weight: 400;
    background: var(--primary-color-2); /* fallback for old browsers */
    background: var(--webkit-bg-gradient) !important; /* Chrome 10-25, Safari 5.1-6 */
    background: var(--bg-gradient) !important; 
    color: var(--primary-color-1) !important;
    line-height: 1.5rem;
}

.logo {
    position: fixed;
    width: 2.5rem;
    filter: brightness(0) saturate(100%) invert(16%) sepia(19%) saturate(774%) hue-rotate(314deg) brightness(97%) contrast(91%);
    z-index: 1001; /* must be above navbar */
}

.button {
    color: var(--primary-color-1-);
    background-color: transparent !important; 
    border-radius: 30px !important; 
    outline: 1px solid var(--primary-color-1) !important;
}

.button:hover {
    background-color: #D6D6D6 !important;
}

/* navbar styles */

.navbar {
    display: flex;
    justify-content: center;
    color: var(--primary-color-1);
    width: 100%;
    padding: 1rem;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

.navbar-links {
    background: rgba(214, 214, 214, 0.50); 
    backdrop-filter: blur(5px); 
    border-radius: 30px; 
    gap: 25px;
    outline: 1px solid var(--primary-color-1);
}

.navbar-links:hover {
    border-radius: 30px !important; 
}

.navbar-button {
    cursor: pointer;
    text-transform: uppercase !important;
    font-weight: 500 !important;
    position: relative;
    padding: 1px 20px;
    transition: color 0.2s ease !important;
}

.navbar-button:hover {
    background: none !important; 
    color: #848484;
    border-radius: 30px; 
}

/* portfolio styles */

.project-box {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 10px;
    font-size: 1.5rem;
}

.project-box::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--box-gradient); 
    z-index: 1;
    transition: opacity 0.8s ease;
}

.project-box:hover::before,
.project-box:hover .project-text-overlay {
    opacity: 0;
}

.project-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.project-text-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 25%; /* layer blur height */
    padding: 1rem;
    display: flex;
    align-items: flex-end;
    color: white;
    z-index: 2;
}

.project-text-overlay::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(117, 117, 117, 0.634); 
    backdrop-filter: blur(20px);
    z-index: -1;
    mask-image: linear-gradient(to top, rgb(2, 2, 2), rgba(0, 0, 0, 0)); /* seamless blur blending */
}

/* case study styles */

.case-image {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    outline: 1px solid #D6D6D6;
}

.case-image img {
    width: auto; 
    height: 100%;
    object-fit: cover; 
}

/* about page */

.headshot {
    padding: 1rem;
    width: 300px;
    border-radius: 25px;
}

.bio-text { 
    font-size: 1rem;
    font-family: var(--secondary-font);
    max-width: 100%;
}

/* footer */

footer {
    color: var(--primary-color-1) !important;
    padding-top: 5rem !important;
}

.footer-icon {
    width: 3rem; 
    height: 3rem; 
    font-size: 3rem; 
    margin: 0 10px;
    background-color: transparent !important;
}

.footer-icon:hover {
    color: #D6D6D6 !important;
}

/* svg filter */

.svg {
    filter: brightness(0) saturate(100%) invert(16%) sepia(19%) saturate(774%) hue-rotate(314deg) brightness(97%) contrast(91%);
}

/* media screens */

@media (max-width: 1025px) {
    .project-box {
        width: 100%;
        height: 100%;
    }

    .project-text {
        font-size: 1.2rem; 
    }
}

@media (max-width: 768px) {
    .project-box {
        width: 100%;
        max-width: 100%;
        height: auto;
    }
    
    .logo {
        display: none;
    }
}

@media (max-width: 480px) {
    .navbar-links {
        gap: 8px; 
    }
    
    .navbar-button {
        padding: 0.5px 10px; 
        font-size: 0.9rem !important;
    }

    .button {
        font-size: 0.7rem !important;
        min-height: 1.2rem !important;
    }

    .project-text-overlay {
        padding: 0.5rem;
        height: 35%;
    }
    
}